{# default Sliding pagination control implementation #}
{% if pageCount > 1 %}
    <ul class="pagination justify-content-end">
        {% if first is defined and current != first %}
            <li class="page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): first})) }}" tabindex="-1">
                    首页
                </a>
            </li>
        {% endif %}

        {% if previous is defined %}
            <li class="page-item"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">上一页</a></li>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="page-item"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
            {% else %}
                <li class="page-item active"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <li class="page-item"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}">下一页</a></li>
        {% endif %}

        {% if last is defined and current != last %}
            <li class="page-item"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): last})) }}">尾页</a></li>
        {% endif %}
    </ul>
{% endif %}
